.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    line-height: 93.75px;
    margin-bottom: 40px;
}
.logo span {
    color:#4BCAFF;
    
}

.list {
    list-style: none;
    background-color: #35444F;
    height: 69px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;

}

.list__item {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
        
}


.border__menu {
    border-left: 1px solid white;
    height: 69px;
    
}

.border__menu:last-child {
    border-right: 1px solid white;
    padding-right: 40px;
}

.verticalMenu {
    width: calc(30% - 25px);
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    transition: transform 0.3s ease;
    
}

.verticalMenu__item:hover {
    transform: translateX(30px);
}

.verticalMenu__item {
    list-style: none;
    font-size: 27px;
    line-height: 27px;
    padding-left: 40px;
    

}

.content {
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content__img {
    height: 529px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}

.content__img img {
    transition: 0.5s;
}

.content__img img:hover{
    transform: scale(1.2);
}

.content__text {
    width: calc(70% - 25px);
}
.footerMenu {
    display: flex;
    height: 69px;
    background-color: #63696E7A;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    
    transition: 0.5s; 
} 


.footerMenu__item {
    font-size: 28px;
    line-height: 28px;
    list-style: none;
    padding-left: 40px;
    
}

.footerMenu__item:hover {
    color:#4BCAFF
}

.item__marginleft{
    margin-left: auto;
}