* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1400;
    margin: 0 auto;
}

.list {
    width: 635px;
    margin: 0 auto;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: center;

}

.list__item {
    display: inline-block;
    margin-right: 72px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: black;
}

.list__item a {
    color: black;
}

.list__item:last-child{
    margin-right: 0;
}

.picture {
    background-color: #00BDC9;
    height: 552px;
    text-align: center;
    margin-bottom: 88px;
    padding-top: 92px;
    padding-bottom: 92px;
}

.picture img {
    width: 599px;
    height: 368px;
}

.content {
    width: 856px;
    height: 615px;
    margin: auto;
    margin-bottom: 88px;
}

.content h2 {
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 64.8px;
   
    
}

.content__text {
    padding-top: 40px;
    padding-bottom: 24px;
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;
    text-align: left;
}

.content__text span {
    color:#04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 31.5px;
    text-align: left;


}

.content__text-number {
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-left: 0;
    list-style-position: inside;
    
}

button {
    width: 145px;
    height: 44px;
    padding: 10px 24px 10px 24px;
    gap: 0px;
    opacity: 0px;
    background-color: #04959E;
    color: white;
    margin-bottom: 88px;
    width: 1400;
    margin: 0 auto;
    display: block;
}

.footer {
    text-align: center;
    border-top: 1px solid;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: right;

}
