* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.section__title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;

    margin-bottom: 28px;
}

.section__subtitle {
    text-align: center;
    font-size: 17px;
    line-height: 24px;

    margin-bottom: 48px;
}

.hero {
    background-image: url(./images/Layer\ 21\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   /*  height: 100vh; */
    padding-top: 528px;
    padding-bottom: 145px;
}

.hero__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: white;
    text-transform: uppercase;

    margin-bottom: 16px;

}

.hero__subtitle {
    font-size: 18px;
    line-height: 21px;
    color: white;
        
    margin-bottom: 22px;
}

.hero__slogan {
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    color: white;

    padding: 38px 31px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    width: max-content;


    text-transform: uppercase;

}


.hero__slogan span {
    margin-right: 50px;
}


.primary-color {
    color: #F48E0B;
    ;
}

.aboutUs {
    padding-top: 81px;  
}



.aboutUs__divider {
    width: 60px;
    height: 3px;
    background-color: #F48E0B;
    margin: 0 auto 50px;
}

.aboutUs__menu-title {
    text-transform: uppercase;
    color: #F48E0B;
    font-weight: 700;
    font-size: 28px;
    
    display: inline-block;
    margin-right: 180px;
}

.aboutUs__menu-list {
    display: inline-block;
}

.aboutUs__menu-item {
    list-style-type: none;
    display: inline-block;
    margin-left: 69px;
}

.aboutUs__menu-link {
    font-size: 18px;
    line-height: 21.6px;
    color: black;
    text-transform: uppercase;

    transition: 0.5s;
}

.aboutUs__menu-link:hover {
    color:#F48E0B;
}

.aboutUs__menu {
    border-bottom: solid 3px #F48E0B; 
    padding-bottom: 22px;
}

.info {
    margin-top: 150px;
}

.mb-1 {
    margin-bottom: 107px;
}

.info__wrapper {
    display: flex;
    justify-content: space-between;
}

.info__portfolio {
    display: flex;
    width: calc(50% - 15px);
    flex-wrap: wrap;
    gap: 22px 30px;

}
.info__content {
    width: calc(50% - 15px);
}

.info__partfolio-image {
   /*  width: 100%; */
}